div.App {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: rgba(110, 123, 165, 0.486); */
  /* background: #222222; */
}
div.main-header-container {
  width: 10%;
  min-width: fit-content;
  margin-left: 27.5%;
  margin-top: 2%;
  /* background:gray; */
}

p.main-header{
  text-align: center;
  font-size: 4em;
  margin: 0;
  text-decoration: underline;
  font-weight: bold;
  color: rgb(78, 52, 19);
}

div.content-container {
  width: 60%;
  height: 70%;
  margin-left: 20%;
  /* background: lightcoral; */
  margin-top: 2%;
}

div.button-container {
  width: 60%;
  height: 12%;
  margin-left: 20%;
  /* background: lightcyan; */
}

div.button-container button {
  width: 15%;
  min-width: fit-content;
  height: 50%;
  font-size: 2em;
  background: none;
  border-radius: .25em;
  border: 3px solid rgba(75, 34, 22, 0.733);
  color: white;
  background: rgba(75, 34, 22, 0.534);
  text-decoration: none;
}

div.button-container button:hover {
  cursor: pointer;
  background: rgba(75, 34, 22, 0.329);
}

button.next {
  float: right;
}

div.background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(183deg, rgba(2,0,36,1) 0%, rgba(235, 139, 29, 0.479) 0%, rgba(202, 202, 202, 0.589) 100%);

}