div.App {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(110, 123, 165, 0.486);
}

div.main-header-container {
  width: 10%;
  min-width: fit-content;
  margin-left: 45%;
  margin-top: 2%;
  background:gray;
}

p.main-header{
  text-align: center;
  font-size: 2em;
  margin: 0;
}

div.content-container {
  width: 60%;
  height: 70%;
  margin-left: 20%;
  background: lightcoral;
  margin-top: 2%;
}

div.button-container {
  width: 60%;
  height: 10%;
  margin-left: 20%;
  background: lightcyan;
  margin-top: 2%;
}

div.button-container button {
  width: 10%;
  min-width: fit-content;
  height: 40%;
  font-size: 1.5em;
  margin-top: 2%;
  background: none;
  border-radius: .25em;
  border: 1px solid blue;
  color: blue;
}

button.next {
  float: right;
}