div.upload-container {
    width: 100%;
    height: 100%;
}

div.dropzone-container {
    width: 80%;
    height: 70%;
    margin-left: 10%;
    border: 10px grey dashed;
    border-radius: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.dropzone-container p{
    font-size: 1.5em;
}

div.sample-container {
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.sample-container a{
    font-size: 2em;
}